.address {
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.time {
  font-size: 15px;
}

#checkout-details {
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
}

#checkout {
  width: 25%;
  height: 26em;
  position: fixed;
  top: 260px;
  right: 5.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #a8b0bc;
  border-radius: 12px;
  background-color: white;

  span#checkout-title {
    font-size: 20px;
    font-weight: bold;
  }

  button#order-now {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto 1em auto;
    border-radius: 10px;
    background-color: #F3BCC8;
    cursor: pointer;
    font-size: 20px;
  }

  ul {
    overflow-y: auto;
    max-height: 15em;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 0.5em 0.4em;
    border-bottom: 2px solid black;

    p {
      margin: 0;
    }
  }

  .checkout-item-row {
    display: flex;
    align-items: center;
  }

  .checkout-item-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #AEE2FF;
    border-radius: 2px;

    p {
      font-size: 16px;
    }
  }

  .checkout-item-title {
    font-size: 18px;
    margin-left: 0.8em;
  }

  .checkout-item-description {
    color: rgb(73, 73, 73);
    font-size: 14px;
    margin-left: 3.3em;
    margin-right: 6.5em;
  }

  .checkout-item-price {
    font-size: 18px;
    margin-left: auto;
  }

  .checkout-item-remove {
    font-size: 14px;
    margin-top: 1em;
    margin-left: 3.3em;
    margin-right: 6.5em;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}
